@media (max-height: 1200px) {
    .headerBox {
        @apply h-1/2;
    }

    .header {
        @apply w-96;
    }

    .name {
        font-size: 2.25em;
    }

    .about {
        font-size: 1.5em;
    }
}

@media (max-height: 900px) {
    .header {
        @apply w-72
    }

    .headerBox {
        @apply h-2/5;
    }

    .name {
        font-size: 2em;
    }

    .about {
        font-size: 1.25em;
    }
}


@media (max-height: 800px) {
    .header {
        @apply w-72;
    }

    .headerBox {
        @apply h-1/2;
    }
}


@media (max-height: 700px) {
    .header {
        @apply w-60;
    }
}

